/* upstream bindings and behaviors */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        // 两个参数，第一个参数：层数（长按触发）；第二个参数：鼠标按键（短按触发）

        ht_left_click_nav: ht_left_click_nav {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;       // 需要 2 个参数（hold 层 + tap 键）
            flavor = "tap-preferred";   // 优先短按（更符合“点击”的直觉）
            tapping-term-ms = <170>;    // 长按判定时间 170ms（可调整）
            // 移除 hold-trigger-on-release（长按立即触发）
            // 移除 hold-trigger-key-positions（避免误判）

            bindings = <&mo>, <&mkp>;

            // 长按切换到层 3，短按发送左箭头
        };

        ht_left_mo_kp: ht_left_mo_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;   // 两个参数（层 + 按键）
            flavor = "tap-preferred";   // 优先触发（短按）
            tapping-term-ms = <170>;    // 长按判定时间 200ms
            bindings = <&mo>, <&kp>;
        };

        mo_kp: mo_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <40>;
            hold-while-undecided;
            bindings = <&mo>, <&kp>;
        };

        td_bore: BASE_or_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 5>, <&to 0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CapsWord {
            bindings = <&caps_word>;
            key-positions = <17 18>;
            layers = <0>;
        };

        combo_BASE_or_EXTRAS {
            bindings = <&td_bore>;
            key-positions = <38 39>;
        };

        togle_layer_sys {
            bindings = <&mo 3>;
            key-positions = <36 37>;
        };
    };

    /* --- KEYMAP CONFIG --- */
    // ╭──────┬──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────┬──────╮
    //    00     01     02     03    04      05        06     07     08     09     10     11
    // ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
    //    12     13     14     15    16      17        18     19     20     21     22     23
    // ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
    //    24     25     26     27    28      29        30     31     32     33     34     35
    // ╰──────┴──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────┴──────╯
    //                         36     37     38        39     40
    //                      ╰──────┴──────┴──────╯  ╰──────┴──────╯
    // #define BASE    0
    // #define NUM     1
    // #define NAV     2
    // #define SYM     3
    // #define GAME    4
    // #define EXTRAS  5
    // #define SLOW    6
    // #define SCROLL  7

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E                 &kp R      &kp T    &kp Y          &kp U      &kp I      &kp O    &kp P      &kp GRAVE
&kp LEFT_SHIFT    &kp A  &kp S  &kp D                 &kp F      &kp G    &kp H          &kp J      &kp K      &kp L    &kp SEMI   &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C                 &kp V      &kp B    &kp N          &kp M      &kp COMMA  &kp DOT  &kp SLASH  &kp RIGHT_ALT
                                &ht_left_mo_kp 2 ESC  &kp SPACE  &mo 1    &kp BACKSPACE  &kp ENTER
            >;
        };

        NUM {
            bindings = <
&trans          &kp F1        &kp F2        &kp F3          &kp F4           &kp F5          &kp F6            &kp F7             &kp F8         &kp F9            &kp F10       &kp F11
&kp LEFT_SHIFT  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4     &kp NUMBER_5    &kp NUMBER_6      &kp NUMBER_7       &kp NUMBER_8   &kp NUMBER_9      &kp NUMBER_0  &kp F12
&trans          &kp EQUAL     &kp PLUS      &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LESS_THAN  &kp GREATER_THAN  &kp MINUS     &trans
                                            &none           &none            &none           &trans            &trans
            >;
        };

        NAV {
            bindings = <
&trans  &none  &mkp MB4        &msc SCRL_UP    &mkp MB5         &none    &kp PAGE_UP  &kp HOME        &kp UP    &kp END        &kp PAGE_DOWN  &none
&trans  &none  &mkp LCLK       &msc SCRL_DOWN  &mkp RCLK        &none    &none        &kp LEFT_ARROW  &kp DOWN  &kp RIGHT      &none          &kp INSERT
&trans  &none  &msc SCRL_LEFT  &mkp MCLK       &msc SCRL_RIGHT  &none    &none        &kp PAGE_UP     &none     &kp PAGE_DOWN  &none          &trans
                               &none           &none            &none    &kp DELETE   &trans
            >;
        };

        SYM {
            bindings = <
&studio_unlock  &none  &none  &none  &none   &none     &none   &none       &none             &none       &none  &none
&none           &none  &none  &none  &none   &none     &none   &kp C_PREV  &kp K_PLAY_PAUSE  &kp C_NEXT  &none  &none
&kp LG(L)       &none  &none  &none  &none   &none     &none   &none       &none             &none       &none  &none
                              &none  &trans  &trans    &trans  &trans
            >;
        };

        GAME_Deprecated {
            bindings = <
&kp N1  &kp TAB    &kp Q  &kp W  &kp E      &kp R           &none  &none  &none  &none  &none  &trans
&kp N2  &kp LCTRL  &kp A  &kp S  &kp D      &kp F           &none  &none  &none  &none  &none  &none
&kp N3  &kp LSHFT  &kp Y  &kp X  &kp C      &kp V           &none  &none  &none  &none  &none  &none
                          &none  &kp SPACE  &kp LEFT_ALT    &none  &none
            >;
        };

        EXTRAS {
            bindings = <
&studio_unlock   &none          &none         &none          &none           &kp C_BRIGHTNESS_INC    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2       &bt BT_SEL 3     &out OUT_TOG     &bt BT_CLR
&kp C_SLEEP      &none          &none         &none          &none           &kp C_BRIGHTNESS_DEC    &none         &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_STOP       &kp C_NEXT       &none
&kp C_AL_COFFEE  &kp C_AC_UNDO  &kp C_AC_CUT  &kp C_AC_COPY  &kp C_AC_PASTE  &none                   &none         &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp PRINTSCREEN  &none
                                              &none          &none           &none                   &none         &none
            >;
        };

        SLOW {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };
    };
};
